.App {
  text-align: center;
  background-color: #232323;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/*
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

label {
  font-size: calc(2px + 2vmin);
  display: flex;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.get-add-forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.min-max-word-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}