.App {
  text-align: left;
  background-color: #232323;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ececec;
  padding-left: 50px;
  padding-right: 50px;
  gap: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .app-left {
  border-style: solid;
  border-width: 1px;
}

.wordcloud {
  border-style: solid;
  border-width: 1px;
} */

label {
  font-size: calc(5px + 1.2vmin);
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 10px;
}

.main-section-left {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.search-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.word-filters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

input, select {
  /* border-radius: 5px; */
  padding: 0.5rem 0.5rem;
  margin-left: 0;
  margin-right: 1rem;

  width: 11rem;
  background: transparent;
  color: #ececec;
  border: 1px solid #ececec;
}

input.checkbox {
  width: 1rem;
}

button {
  /* border-radius: 5px; */
  padding: 0.5rem 0;
  min-width: 6rem;
  max-width: 11rem;
  background: transparent;
  color: white;
  border: 2px solid #ececec;
}

small {
  font-size: 9pt;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* The animation code */
@keyframes red-pulse {
  from {fill: #ececec;}
  to {fill: #FF0000;}
}

.cloud-logo {
  fill: #ececec;
  /* animation-name: red-pulse;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
}

.cloud-logo-enter {
  fill: #ececec;
}
.cloud-logo-enter-active {
  fill: #FF0000;
  transition: fill 2500ms;
  transition-timing-function: ease-in-out;
}
.cloud-logo-enter-done {
  fill: #FF0000;
}
.cloud-logo-exit {
  fill: #FF0000;
}
.cloud-logo-exit-active {
  fill: #ececec;
  transition: fill 2500ms;
  transition-timing-function: ease-in-out;
}
.cloud-logo-exit-done {
  fill: #ececec;
}

.MuiSlider-markLabel {
  color: #ececec!important;
}